* {
  box-sizing: border-box;
  font-family: 'Patua One', cursive;
  color: #424748;
}

body {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  font-size: large;
  grid-template-rows: 70px 1fr;
  grid-template-areas:
  "nav"
  "main"
}

body>nav {
  grid-area: nav;
  background-color: rgba(111, 154, 207, 0.2);
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 0 20px 0 20px;
}

nav {
  border: 2px solid black;
}

table {
  font-size: 20px;
}

/* table, thead, th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  text-align: center;
} */

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2),
#list td:nth-child(3) {
  min-width: 100px;
}

.details {
  color: gray;
  /* margin-left: 10vmin; */
}

.params {
  font-size: larger;
}

#add-destination-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

#add-destination-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 4;
  margin-bottom: 2rem;
}

body>main {
  grid-area: main;
  display: grid;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(120, 137, 156, 0.5);
  padding: 50px;
}

main>h1 {
  display: grid;
  justify-content: center;
}

nav>img {
  width: 100px;
  object-fit: contain;
  margin-right: auto;
}

a {
  color: #00B7FF;
}

nav>a {
  margin: 5px;
  font-weight: bolder;
  border-radius: 5px;
}

select {
  cursor: pointer;
  position: relative;
  font: normal 11px/22px Arial, Sans-Serif;
  color: black;
  border: 1px solid #ccc;
}

section {
  display: grid;
  grid-template-columns: repeat(2, 40vmin);
  grid-template-rows: repeat(4, 6vmin);
  width: 8rem;
  margin-bottom: 0;
}

div {
  color: #B4886B;
}

h2 {
  color: rgb(111, 154, 207);
}

label {
  color: #B4886B;
  font-weight: bold;
  display: grid;
  gap: 1vmin;
  width: 150px;
}

table {
  width: 100%;
  max-width: 100%;
  border: 1px solid;
}

td,
th {
  background-color: #555;
  color: #fff;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  text-align: left;
  padding: 0.5em 1em;

}

#newplane {
  width: 50%;
  justify-content: center;
  margin: auto;
  margin-top: 5vmin;
}

select {
  inline-size: 170px;
  block-size: 3.7vmin;
  border-radius: 5%;
}
label > input {
  inline-size: 170px;
  block-size: 3.7vmin;
  border-radius: 5%;
}

form > label {
  font-size: larger;
}

input {
  inline-size: 170px;
  block-size: 3.7vmin;
  border-radius: 5%;
}

