* {
  box-sizing: border-box;
  font-family: 'Patua One', cursive;
  color: #424748;
}

body {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  font-size: large;
  grid-template-rows: 70px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: rgba(111, 154, 207, 0.2);
  display: flex;
  justify-content: stretch;
  align-items: center;
  padding: 0 20px 0 20px;
}

nav {
  border: 2px solid black;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}



#add-review-form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

#add-review-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
}


body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgba(120, 137, 156, 0.5);
  padding: 50px;
  overflow-y: scroll;
}

main > h1 {
display: grid;
justify-content: center;
}

nav > img {
  width: 100px;
  object-fit: contain;
  margin-right: auto;
}


a {
  color: #00B7FF;
}

nav > a {
  margin: 5px;
  font-weight: bolder;
  border-radius: 5px;
}

/* option {
    border-radius: 15px;
    top: 100%;
    right: 0;
    left: 0;
    margin: 0 0;
    padding: 0 0;
    border: 1px solid #ccc;
    background-color: white;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
  
/* } */

option {
  padding: 10vmin;
  border: 2vmin solid green;
  border-radius: 4vmin;
}

select {
  cursor: pointer;
  position: relative;
  font: normal 11px/22px Arial, Sans-Serif;
  color: black;
  border: 1px solid #ccc;
}

label {
  color: #B4886B;
  font-weight: bold;
  display: grid;
  gap: 1vmin;
  width: 150px;
}

table {
  width: 100%;
  max-width: 100%;
  border: 1px solid;
}

td,
th {
  background-color: #555;
  color: #fff;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  text-align: left;
  padding: 0.5em 1em;

}