<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label>Airline:
    <select name="airline">
      <option value="Delta" selected>Delta</option>
      <option value="United">United</option>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
    </select>
  </label><br>
  <label>Airport:
    <select name="airport">
      <option value="LAX" selected>LAX</option>
      <option value="DEN">DEN</option>
      <option value="BWI">BWI</option>
      <option value="SAN">SAN</option>
  </label><br>
  <label>Flight Number:
    <input type="number" name="flightNo">
  </label><br>
  <label>departs
    <input type="datetime-local" name="departs">
  </label><br>
</form>

<%- include('../partials/footer') %>